body {
    background-color: lightblue;
}

h1 {
    color: midnightblue;
}

.foto {
    width: 200px;
    border: 2px solid white; /* shorthand */
    border-radius: 50%;
    /*
    border-radius: 100% 20% 100% 20%;
    /*
    border-width: 2px;
    border-style: solid;
    border-color: black;
    */
}

#resumo {
    color: purple;
}