body {
    background-color: lightblue;
}

h1 {
    color: midnightblue;
}

.foto {
    width: 200px;
    border: 2px solid white; /* shorthand */
    border-radius: 50%;

    /*margin-top: 500px;
    margin-bottom: 200px;
    margin-left: 10px;*/

    margin: 30px;
    padding: 10px;


}

#resumo {
    color: purple;
}